*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 2rem;
    font-weight: 500;
}
.top{
    color: white;
    background: lightskyblue;
    padding: 1rem;
}
.display-3{
    font-weight: 600;

}
.container{
    width: 69%;
    
}
.container{
    width: 60%;
}
.square{
    background: rgb( 0, 0, 0);
    padding: 84px;
    margin: 10px 10px 10px 10px;
    float: left;
    border-radius: 20px;
}
.container{
    width: 50%;
    margin: 0 auto;

}